body {
  font-family: Montserrat, sans-serif;
  background: #fcf6f6;
}

.section {
  text-align: center;
  h1{
    font-family: 'Playfair Display', serif;
    color: #191e22;
    font-size: 45px;
    font-weight: 400;
  }
}

[data-anchor="sec1"] {

}