body {
  font-family: Montserrat, sans-serif;
  background: #fcf6f6; }

.btn-light {
  border: 1px solid #e0c2c2;
  border-radius: 0px;
  color: #333;
  font-weight: 200;
  padding: 12px 30px;
  margin-top: 30px; }
  .btn-light:hover {
    background-color: #e0c2c2;
    transition: all .3s; }

.section {
  text-align: center; }
  .section h1 {
    font-family: 'Playfair Display', serif;
    color: #191e22;
    font-size: 46px;
    font-weight: 400;
    margin: 0 auto;
    max-width: 700px; }
  .section h2 {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px; }

.options-radio {
  margin-top: 40px; }
  .options-radio input {
    -webkit-appearance: button;
    /* WebKit */
    -moz-appearance: button;
    /* Mozilla */
    -o-appearance: button;
    /* Opera */
    -ms-appearance: button;
    /* Internet Explorer */
    appearance: button;
    /* CSS3 */ }
    .options-radio input:checked + label {
      background-color: #e0c2c2;
      transition: all .3s; }
  .options-radio label {
    border: 1px solid #e0c2c2;
    border-radius: 0px;
    color: #333;
    font-weight: 200;
    padding: 12px 30px;
    cursor: pointer;
    margin: 0 10px; }

#submit {
  background-color: #e0c2c2; }
  #submit:focus {
    box-shadow: none;
    outline: none; }

#results {
  padding: 30px;
  max-width: 700px;
  margin: 0 auto; }
  #results a {
    display: inline-block;
    font-size: 18px;
    font-weight: 200;
    color: #191e22;
    max-width: 193px;
    margin: 0 10px; }

.text {
  height: 46px;
  background: transparent;
  border: 1px solid #e0c2c2;
  margin-right: -5px;
  padding: 0 15px;
  font-weight: 300;
  width: 260px;
  max-width: 330px; }
  .text:focus {
    box-shadow: none;
    outline: none; }
